---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud-collabora
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  # See https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
  values:
    controllers:
      main:
        containers:
          app:
            image:
              repository: collabora/code
              tag: 25.04.8.1.1
            env:
              extra_params: --o:ssl.termination=true --o:ssl.enable=false

    service:
      main:
        controller: main
        ports:
          http:
            port: 9980

    ingress:
      main:
        enabled: true
        className: external
        annotations:
          hajimari.io/enable: "false"
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          nginx.ingress.kubernetes.io/upstream-hash-by: "$arg_WOPISrc"
        hosts:
        - host: collabora.${SECRET_DOMAIN}
          paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
